#include <os2.h>
#include "e:\data\c\ascii\ascii.h"

ICON ID_ICON ascii.ico

DLGTEMPLATE DLG_DIRECTTYPE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Direct Type", DLG_DIRECTTYPE, 12, 6, 157, 84, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        LISTBOX         LB_PROGRAMS, 6, 6, 99, 62, LS_HORZSCROLL | WS_GROUP
        DEFPUSHBUTTON   "~Ok", PB_DIRECTTYPE_OK, 111, 50, 40, 14, WS_GROUP
        PUSHBUTTON      "~Cancel", PB_DIRECTTYPE_CANCEL, 111, 32, 40, 14,
                        NOT WS_TABSTOP
        PUSHBUTTON      "~Help", PB_DIRECTTYPE_HELP, 111, 6, 40, 14, BS_HELP |
                        NOT WS_TABSTOP
        LTEXT           "Select Program for Direct Type", ST_DIRECTTYPE, 6,
                        66, 104, 8
    END
END

DLGTEMPLATE DLG_SETTINGS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "ASCII Table - Settings", DLG_SETTINGS, 12, 33, 105, 57,
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        SPINBUTTON      SB_START, 6, 26, 37, 12, SPBS_NUMERICONLY |
                        SPBS_MASTER | WS_GROUP
        SPINBUTTON      SB_END, 58, 27, 37, 12, SPBS_NUMERICONLY |
                        SPBS_MASTER | WS_GROUP
        LTEXT           "Start:", ST_START, 6, 34, 35, 8
        LTEXT           "End", ST_END, 59, 35, 35, 8
        GROUPBOX        "Character range", GB_RANGE, 2, 21, 100, 29
        PUSHBUTTON      "~Ok", PB_OK, 3, 4, 40, 14
        PUSHBUTTON      "~Cancel", PB_CANCEL, 46, 4, 40, 14
    END
END

DLGTEMPLATE DLG_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "ASCII Table - About", DLG_ABOUT, -74, -42, 148, 84,
            FS_MOUSEALIGN | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        CTEXT           ">>> ASCII Table 2.0 <<<", ST_TITLE, 8, 68, 128, 8,
                        DT_VCENTER
        CTEXT           "Copyright 1998 by", ST_COPYRIGHT, 8, 52, 128, 8,
                        DT_VCENTER
        CTEXT           "D.J. van Enckevort", ST_AUTHOR, 8, 36, 128, 8,
                        DT_VCENTER
        CTEXT           "(enckevor@dds.nl)", ST_EMAIL, 8, 28, 128, 8,
                        DT_VCENTER
        DEFPUSHBUTTON   "~Ok", PB_OK, 52, 8, 40, 14
    END
END

DLGTEMPLATE DLG_ASCII PRELOAD MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "ASCII Table", DLG_ASCII, 8, 4, 240, 144, NOT FS_DLGBORDER |
            FS_SIZEBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR |
            FCF_MINMAX | FCF_TASKLIST
    BEGIN
        VALUESET        SET_ASCII, 6, 4, 230, 60, VS_TEXT | VS_BORDER |
                        WS_GROUP
                        CTLDATA 8, 0, 8, 32
        MLE             "", MLE_TEXT, 6, 82, 230, 50, MLS_WORDWRAP |
                        MLS_HSCROLL | MLS_VSCROLL | WS_GROUP
        LTEXT           "0", ST_FONT, 6, 68, 230, 8
    END
END

MENU ID_MENU LOADONCALL
BEGIN
  SUBMENU "~File", MN_FILE
  BEGIN
    MENUITEM "~Open\tCtrl+O", MI_OPEN
    MENUITEM "~Save\tCtrl+S", MI_SAVE
    MENUITEM "Save ~as\tCtrl-A", MI_SAVEAS
    MENUITEM "S~ettings", MI_SETTINGS
    MENUITEM SEPARATOR
    MENUITEM "~Close\tAlt+F4", MI_CLOSE
  END
  SUBMENU "~Edit", MN_EDIT
  BEGIN
    MENUITEM "Cu~t\tShift+Delete", MI_CUT
    MENUITEM "~Copy\tCtrl+Insert", MI_COPY
    MENUITEM "~Paste\tShift+Insert", MI_PASTE
    MENUITEM "C~lear\t", MI_CLEAR
    MENUITEM SEPARATOR
    MENUITEM "MLE", MI_MLE
    MENUITEM "~Direct Type", MI_DIRECTTYPE
    MENUITEM SEPARATOR
    MENUITEM "~Font\tCtrl+F", MI_FONT
    SUBMENU "C~odepage", MI_CODEPAGE
    BEGIN
    END
  END
  SUBMENU "~Help", MN_HELP
  BEGIN
/*    MENUITEM "Help Index\tShift+F1", MI_HELPINDEX
    MENUITEM "General Help\tF1", MI_GENERALHELP
    MENUITEM "Using Help\tCtrl+F1", MI_USINGHELP
    MENUITEM SEPARATOR
*/    MENUITEM "Product Info\tF12", MI_PRODUCTINFO
  END
END

ACCELTABLE ID_ACCELTABLE
BEGIN
  "o", MI_OPEN, CONTROL
  "f", MI_FONT, CONTROL
  "s", MI_SAVE, CONTROL
  "a", MI_SAVEAS, CONTROL
/*  VK_F1, MI_HELPINDEX, VIRTUALKEY, SHIFT
  VK_F1, MI_USINGHELP, VIRTUALKEY, CONTROL
*/  VK_F12, MI_PRODUCTINFO, VIRTUALKEY
END

HELPTABLE ID_HELPTABLE
BEGIN
  HELPITEM DLG_ASCII, SUBTABLE_ASCII, HLP_MAIN
  HELPITEM DLG_ABOUT, SUBTABLE_ABOUT, HLP_ABOUT
END

HELPSUBTABLE SUBTABLE_ASCII
BEGIN
  HELPSUBITEM SET_ASCII, HLP_ASCII
  HELPSUBITEM MLE_TEXT, HLP_TEXT
  HELPSUBITEM MN_FILE, HLP_FILE
  HELPSUBITEM MI_OPEN, HLP_OPEN
  HELPSUBITEM MI_SAVE, HLP_SAVE
  HELPSUBITEM MI_SAVEAS, HLP_SAVEAS
  HELPSUBITEM MI_CLOSE, HLP_CLOSE
  HELPSUBITEM MN_EDIT, HLP_EDIT
  HELPSUBITEM MI_CUT, HLP_CUT
  HELPSUBITEM MI_COPY, HLP_COPY
  HELPSUBITEM MI_PASTE, HLP_PASTE
  HELPSUBITEM MI_CLEAR, HLP_CLEAR
  HELPSUBITEM MI_FONT, HLP_FONT
  HELPSUBITEM MI_CODEPAGE, HLP_CODEPAGE
  HELPSUBITEM MN_HELP, HLP_HELP
/*  HELPSUBITEM MI_HELPINDEX, HLP_HELPINDEX
  HELPSUBITEM MI_GENERALHELP, HLP_GENERALHELP
  HELPSUBITEM MI_USINGHELP, HLP_USINGHLP
*/  HELPSUBITEM MI_PRODUCTINFO, HLP_PRODUCTINFO
END

HELPSUBTABLE SUBTABLE_ABOUT
BEGIN
  HELPSUBITEM PB_OK, HLP_OK
END
